@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

section {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

/* Navigation Bar */

.nav {
  width: 100%;
  height: 80px;
  background-color: red;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.nav__logo {
  font-size: 20px;
  font-weight: 700;
}

.nav__link {
  margin: 0 4px;
}

.nav__link__button {
  padding: 8px 12px;
  border-radius: 9999px;
  border: none;
  color: red;
  font-size: 16px;
  background-color: white;
  font-weight: 700;
}

/* Header */

#home {
  height: 50vh;
  color: white;
  background-image: url("assets/header-image.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  text-align: center;
}

.home__title {
  font-size: 60px;
}

.home__paragraph {
  max-width: 400px;
}

.home__button {
  padding: 8px 12px;
  font-size: 16px;
  background-color: white;
  border-radius: 9999px;
  border: none;
  font-weight: 700;
}

/* About Us */

#about {
  padding: 40px 16px;
  display: flex;
  gap: 20px;
}

.about__image {
  width: 40%;
  border-radius: 4px;
}

.about__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.about__title {
  font-size: 32px;
}

.about__button {
  width: 120px;
  padding: 12px 0;
  background-color: red;
  border-radius: 9999px;
  color: white;
  font-weight: 700;
  border: none;
}

/* Menu */

#menu {
  padding: 40px 16px;
  gap: 20px;
  display: flex;
}

.menu__image {
  width: 40%;
  border-radius: 4px;
}

.menu__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.menu__title {
  font-size: 32px;
}

.menu__button {
  width: 120px;
  padding: 12px 0;
  background-color: red;
  border-radius: 9999px;
  color: white;
  font-weight: 700;
  border: none;
}

/* Contact */

#contact {
  padding: 40px 16px;
  gap: 16px;
}

.contact__title {
  font-size: 32px;
  text-align: center;
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contact__form__input,
.contact__form__textarea {
  outline: none;
  border: 1px black solid;
}

.contact__form__input {
  height: 32px;
  padding: 0px 8px;
}

.contact__form__textarea {
  height: 128px;
  resize: vertical;
  padding: 8px;
  min-width: 100%;
  max-width: 100%;
}

.contact__form__button {
  height: 40px;
  background-color: red;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: 700;
  transition: 200ms;
  margin-top: 8px;
}

.contact__form__button:hover {
  background-color: white;
  color: red;
  border: 1px solid red;
}

/* Footer */

.footer {
  height: 64px;
  background-color: red;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer__link {
  font-weight: 700;
}

/* Tablets */

@media (max-width: 768px) {
  .about__title,
  .menu__title,
  .contact__title {
    font-size: 24px;
  }

  .about__paragraph,
  .menu__paragraph {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .nav__link:not(:last-child) {
    display: none;
  }

  #about,
  #menu {
    align-items: center;
  }

  #about{
    flex-direction: column;
  }

  #menu{
    flex-direction: column-reverse
  }

  .about__wrapper,
  .menu__wrapper {
    align-items: center;
    text-align: center;
  }
  
  .about__image,
  .menu__image{
    width: 100%;
  }
}
